{#
/**
 * @file
 * Default theme implementation for the user password reset form.
 *
 * Available variables:
 * - any form element available on the register form
 * - actions : the submit buttons
 * - login_link: the login link.
 *
 * @ingroup themeable
 */
#}

<!-- Form -->
<div class="container ">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
    <!-- Heading -->
    <div class="text-center mb-5 mb-md-7">
      <h1 class="h2">Registro de usuario </h1>
      <p>Por favor ingresa tus datos para poder registrarte.</p>
    </div>
    <!-- End Heading -->

    {{ form|without('actions', 'login_link') }}
    <div class="nice-login__register__actions">
      {{ form.actions }}
      {{ form.login_link }}
    </div>

  </div>
</div>
<!-- End Form -->


