{#
/**
 * @file
 * Default theme implementation for the user password reset form.
 *
 * Available variables:
 * - any form element available on the register form
 * - actions : the submit buttons
 * - login_link: the login link.
 *
 * @ingroup themeable
 */
#}

<!-- Form -->
<div class="container ">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">

    {{ form|without('actions', 'login_link') }}
    <div class="nice-login__register__actions">
      {{ form.actions }}
    </div>

    <div class="text-center d-grid gap-3">
      <span class="divider-center">O</span>

      <a class="btn btn-white btn-lg" href="/user/login/google">
        <span class="d-flex justify-content-center align-items-center">
          <img class="avatar avatar-xss me-2" src="/themes/custom/imparables_bb5/assets/svg/brands/google-icon.svg" alt="Image Description">
          Registrarme con Google
        </span>
      </a>
            <p>¿Ya te registraste? <a class="link" href="/user/login">Inicia sesión</a></p>

    </div>

  </div>


</div>
<!-- End Form -->




