{#
/**
 * @file
 * Default theme implementation for the user password reset form.
 *
 * Available variables:
 * - name : the input name
 * - mail : the description text about the form.
 * - actions : the submit buttons
 * - login_link: the login link.
 *
 * @ingroup themeable
 */
#}

<!-- Form -->
<div class="container">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
    <!-- Heading -->
    <div class="text-center mb-5 mb-md-5">
      <h1 class="h2">¿Olvidaste tu contraseña?</h1>
      <p>Ingresa tu nombre de usuario o correo electrónico .</p>
    </div>
    <!-- End Heading -->


    {{ form.name }}
    {{ form.mail }}
    <div class="nice-login__pass__actions mb-3 d-grid">
      {{ form.actions }}
    </div>

    <div class="text-center d-grid gap-3">
      <span class="divider-center">O</span>
      <p>¿Ya te registraste? <a class="link" href="/user/login">Inicia sesión</a></p>
    </div>

  </div>
</div>
<!-- End Form -->


{{ form|without('name', 'mail', 'actions', 'login_link') }}
