{#
/**
 * @file
 * Default theme implementation for the user password reset form.
 *
 * Available variables:
 * - any form element available on the register form
 * - actions : the submit buttons
 * - login_link: the login link.
 *
 * @ingroup themeable
 */
#}

<!-- Form -->
<div class="container ">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">

    <!-- Heading -->
    <div class="text-center mb-5 mb-md-7">

    {% if form.estudiante_profiles is defined  %}
      <h1 class="h2">Registro de Estudiante</h1>
    {% endif %}
    {% if form.apoderado_profiles is defined %}
        <h1 class="h2">Registro de Padre o Apoderado</h1>
    {% endif %}    
      <p>Ingresa tus datos para poder crear tu cuenta.</p>
    </div>
    <!-- End Heading -->

    {{ form|without('actions', 'login_link') }}
    <div class="nice-login__register__actions">
      {{ form.actions }}
    </div>

  </div>
</div>
<!-- End Form -->


