.js-swiper-shop-hero-thumbs {
    display: none;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-color: black !important;
    border-bottom-width: 1px !important;
}

.alert {
    --bs-alert-padding-y: 0.5rem !important;
}

.navbar .alert .fw-semibold a {
    color: var(--bs-link-white) !important;
}

.navbar .alert {
    font-size: 0.95rem !important;
}

.navbar .alert-dismissible .btn-close {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.navbar a,
footer a {
    text-decoration: unset !important;
}

.wrapper-nice-login {
    border: unset !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.node--view-mode-teaser {
    border-bottom-width: 0 !important;
    border-bottom: unset !important;
}

form .error {
    color: var(--bs-red) !important;
}

.form-item-estudiante-profiles-0-entity-field-telefono-0-country-code,
.form-item-apoderado-profiles-0-entity-field-telefono-0-country-code {
    max-width: 20% !important;
    float: left !important;
}

.form-item-estudiante-profiles-0-entity-field-telefono-0-phone,
.form-item-apoderado-profiles-0-entity-field-telefono-0-phone {
    max-width: 80% !important;
    float: left !important;
}

.form-item-apoderado-profiles-0-entity-field-telefono-0-country-code label {
    max-width: 100% !important;
    width: 100px !important;
}

.field--type-phone-number label {
    float: left !important;
}

.page-user-register #edit-mail--description {
    display: none;
}

.nice-login__register__actions {
    width: 100% !important;
    float: left !important;
}


.password-input input {
    width: 100% !important;
    max-width: 100% !important;
}

.password-input .error {
    width: 100% !important;
    max-width: 100% !important;
}

.MuiButton-containedPrimary {
    background-color: #377dff !important;
}

footer .navbar-brand-logo {
    max-width: 11rem !important;
}